<div class="container-fluid">
  <header role="header">
      <nav class="navbar bg-danger navbar-light">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active ">
              <a class="nav-link" href="#">Darden</a>
            </li>
          </ul>
          <ul class="ml-auto float-left mt-3 navlist">
            <li class="nav-item  ">
              <a class="nav-link" href="#">Parpull Production System</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Olive Garden</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Date</a>
            </li>
          </ul>
        </nav>
  </header>
  </div>
  <div >
  <nav >
   <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
       <span class="navbar-toggler-icon"></span>
   </button> -->
  <div >
     <ul class="navigation mt-3 clearfix">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Guest Count</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Select Days</a></li>
          <li class="nav-item"><a class="nav-link" href="#">MenuMix</a></li>
          <li class="nav-item"><a class="nav-link" href="#">To Go Items</a></li>
          <li class="nav-item"><a class="nav-link" href="#">On-Hand</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Projections</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
      </ul> 
      
  </div>
  </nav>
  </div>
<!--  Notificarion strats-->

