<!--Header Top start-->
<header class="globalheader">
   <div class="top-header">
      <div class="container-fluid">
         <nav>
            <div class="row hd-vertical-center">
               <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5">
                  <div class="header-left-info display-set">
                     <div class="address-top">
                        <h6>Olive Garden #1005</h6>
                        <p>East Kissimmee,FL34726</p>
                     </div>
                     <div class="map-icon"> <img src="./assets/Icons/Location Icon.png" aria-hidden="true" style="color: #fff;"></div>
                     <div class="left-boder-styles">
                        <h6>ParPull Production System</h6>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <div class="header-center-info">
                     <div class="top-logo-img">
                        <a class="" href="#">
                           <img src="./assets/Logos/Olive Garden_Logo.png" class="img-fluid">
                        </a>
                     </div>
                     <div class="logo-boder-styles top-dates">
                        <p class="color-wt">Parring for:</p>
                        <h6 class="color-wt-subtext">Tuesday, June 15s</h6>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-3 col-md-3 col-sm-3">
                  <div class="top-right-info">
                     <ul class="contact-icon">
                        <li><a href=""><img src="./assets/Icons/Unclicked.png" class="img-fluid"></a></li>
                        <li><a href=""><img src="./assets/Navigation Assets/Notifications_Unfilled & Unclicked.png" class="img-fluid"></a></li>
                        <li><a href=""><img src="./assets/Icons/Profile_Unclicked.png" class="img-fluid"></a></li>
                        <li class="user-login">
                           <a href="">
                              <div class="user-info">
                                 <p class="user-message">Hello,</p>
                                 <p class="user-name">Aaron B</p>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </nav>
      </div>
   </div>
   <nav class="nav-menu-header">
      <div class="container-fluid">
         <ul class="navigation  clearfix">
              <li class="nav-item"><a class="nav-link" href="#"><span>Home</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span>Guest Count</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span>Select Days</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span>MenuMix</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span>To Go Items</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span>On-Hand</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span>Projections</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span>Reports</span></a></li>
          </ul> 
          
      </div>
      </nav>
</header>
<!-- <footer class="footer"><img src="./assets/Footer.png" class="image-fluid"></footer> -->
