<header>
   <div class="top-header">
    <div class="container-fluid">
       <nav>
          <div class="row hd-vertical-center">
             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="header-left-info display-set">
                   <div class="map-icon"> <i class="fa fa-map-marker" aria-hidden="true" style="color: #fff;"></i></div>
                    <div>
                   
                      <h6>Olive Garden #1005</h6>
                      <p>East Kissimmee,FL34726</p>
                   </div>
                   <div class="left-boder-styles">
                      <h6>ParPull Production System</h6>
                   </div>
                </div>
             </div>
             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                 <div class="header-center-info">
               <div class="top-logo-img">
                <a class="" href="#">
                  <img src="./assets/image/logo.png" class="img-fluid">
                  <!--<p style="color: #fff;">Olive Garden</p>-->
                </a>
                </div>
                <div class="logo-boder-styles">
                    <h6 class="color-wt">Parring for:</h6>
                    <p class="color-wt">Tuesday, June 15s</p>
                </div>
            </div>
             </div>
             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                 <div class="top-right-info">
                 <ul class="contact-icon"> 
                     <li><a href=""><i class="fa fa-wrench"></i></a></li>
                     <li><a href=""><i class="fa fa-bell"></i></a></li>
                     <li><a href=""><i class="fa fa-user"></i></a></li>
                 </ul>
                 </div>
             </div>
          </div>
       </nav>
    </div>
   </div>
    <nav >
<div >
         <ul class="navigation mt-3 clearfix">
              <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Guest Count</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Select Days</a></li>
              <li class="nav-item"><a class="nav-link" href="#">MenuMix</a></li>
              <li class="nav-item"><a class="nav-link" href="#">To Go Items</a></li>
              <li class="nav-item"><a class="nav-link" href="#">On-Hand</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Projections</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
          </ul> 
          
      </div>
      </nav>
      
 </header>
