<div class="container-fluid">
<table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Type</th>
        <th>Item Name</th>
        <th>Lunch Avg</th>
        <th>Lunch Tally</th>
        <th>Dinner Avg</th>
        <th>Dinner Tally</th>
        <th>User Changes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dinner Entree</td>
        <td>Shrimp Carbona</td>
        <td>0.18%</td>
        <td>1</td>
        <td>0.05%</td>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td>Dinner Entree</td>
        <td>Tour of Italy</td>
        <td>3.52%</td>
        <td>10</td>
        <td>5.77%</td>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td>Dinner Entree</td>
        <td>EggPalnt Parmigiana</td>
        <td>1.65%%</td>
        <td>5</td>
        <td>1.26%%</td>
        <td>7</td>
        <td></td>
      </tr>   
      <tr>
        <td>Dinner Entree</td>
        <td>Chicken Margherita</td>
        <td>1.65%%</td>
        <td>5</td>
        <td>1.26%%</td>
        <td>7</td>
        <td></td>
      </tr>  
      <tr>
        <td>Dinner Entree</td>
        <td>D5 Cheese Marinara</td>
        <td>1.65%%</td>
        <td>5</td>
        <td>1.26%%</td>
        <td>7</td>
        <td></td>
      </tr>  
      <tr>
        <td>Dinner Entree</td>
        <td>Lasanga Classico</td>
        <td>1.65%%</td>
        <td>5</td>
        <td>1.26%%</td>
        <td>7</td>
        <td></td>
      </tr>  
      <tr>
        <td>Dinner Entree</td>
        <td>Seafood Alfredo</td>
        <td>1.65%%</td>
        <td>5</td>
        <td>1.26%%</td>
        <td>7</td>
        <td></td>
      </tr>  
      <tr>
        <td>Dinner Entree</td>
        <td>Chicken Carbonora</td>
        <td>1.65%%</td>
        <td>5</td>
        <td>1.26%%</td>
        <td>7</td>
        <td></td>
      </tr>  
      <tr>
        <td>Dinner Entree</td>
        <td>Gluten Free Rotini Marinara</td>
        <td>1.65%%</td>
        <td>5</td>
        <td>1.26%%</td>
        <td>7</td>
        <td></td>
      </tr>  
      <tr>
        <td>Dinner Entree</td>
        <td>D alfredo sauce</td>
        <td>1.65%%</td>
        <td>5</td>
        <td>1.26%%</td>
        <td>7</td>
        <td></td>
      </tr>     
    </tbody>
  </table>
</div>
