.notification-main{
     background-color: #cccc;
    margin: 20 0px 20px 0px;
    padding: 20px 0px 20px 0px;
}
.notification-code{
  background-color: #ffff;
    padding: 30px;
    height: 100%;
}
.notification-titel {
    background-color: #fff;
    height: 100%;
}
.notificasion-titel{
      padding: 10px;
}
.notificasion-titel .nav-item{
  border: 1px solid #dee2e6;
    box-shadow: 0px 1px #ccc;
    margin-bottom: 10px;
}
.notification-titel ul li a p{
  font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

.notification-main .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #caa534ab;

}
